version: '3'

services:
  nginx:
    image: nginx:latest
    hostname: nginx
    ports:
        - "8000:8000"
    volumes:
        # - ./src:/src
        - ./config/nginx:/etc/nginx/conf.d
        - ./src/static:/static
    depends_on:
        - web
        
  db:
    image: postgres
    hostname: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
      
  redis:
    image: redis
    hostname: redis
      
  rabbit:
    hostname: rabbit
    image: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=mypass
    ports:
      - "5672:5672"  # useful for debugging
      - "15672:15672"  # rabbitmq management plugin

  web:
    build:
      context: .
      dockerfile: Dockerfile
    hostname: web
    command: ./run_web.sh
    # restart: always
    volumes:
      - ./src:/app
      - ./src/static:/static
    links:
      - db
      - rabbit
      - redis
    expose:
      - "8000"

  celerybeat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A celeryconf beat -l INFO
    volumes:
      - ./src:/app
    links:
      - db
      - rabbit
      - redis
    depends_on:
      - rabbit
  
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: ./run_celery.sh
    volumes:
      - ./src:/app
    links:
      - db
      - rabbit
      - redis
    depends_on:
      - rabbit