<div class="charts-sidebar padding-10 layout vertical">
    <div class="sidebar-section">
        <label class="bold dim extra uppercase">Filters</label>
        <div class="layout horizontal">
            <favorite-filter class="filter boolean flex"></favorite-filter>
            <exchange-filter class="filter dropdown flex"></exchange-filter>
            <tag-filter class="filter dropdown flex"></tag-filter>
        </div>
        <search-filter class="filter search layout horizontal"></search-filter>
    </div>
    <div class="sidebar-section flex layout vertical">
        <label class="bold">
            <span class="dim extra uppercase">Tickers</span>
            <loading-animation ng-if="stocks.loading"
                style="margin: 0 0 0 5px;display:inline;"></loading-animation>
            <span ng-if="!stocks.loading" style="padding-left:5px;">({{stocks.count}})</span>
            
            <ordering-filter class="filter dropdown ordering"></ordering-filter>
        </label>
        <div id="sidebar-tickers" class="tickers flex">
            <sidebar-ticker stock="stock" ng-repeat="stock in stocks.results" class="layout horizontal"
                ng-class="{'current':stock.ticker==state.params.ticker,
                'increasing':stock.tickDifference>0, 'decreasing':stock.tickDifference<0}"></sidebar-ticker>
            <div class="padding center-align" ng-if="!stocks.loading && !stocks.results.length">
                <div class="dim">No results found</div>
                <a class="dim hoverable bold clickable" ng-click="clearFilters()">clear filters</a>
            </div>
                
            <div id="end-of-tickers" in-view="loadMoreStocks()" ng-if="stocks.next && !stocks.loadingMore"></div>
            <loading-animation ng-if="stocks.loadingMore"></loading-animation>
        </div>
    </div>
</div>
<div class="charts-content flex layout vertical" ui-view></div>