{% extends 'base.html' %}

{% block additional_headers %}
    <base href="/cannabis/">
    
    {% load compress %}

    <!-- stylesheets -->
    {% compress css %}
        <link href="{{STATIC_URL}}charts/css/_compiled.scss" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}

    <!-- javascripts -->
    {% compress js %}
        <!-- main app -->
        <script type='text/javascript' src="{{STATIC_URL}}charts/angular/app.js"></script>
        <script type='text/javascript' src="{{STATIC_URL}}charts/angular/controllers.js"></script>
        <script type='text/javascript' src="{{STATIC_URL}}charts/angular/directives.js"></script>
        <script type='text/javascript' src="{{STATIC_URL}}charts/angular/services.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    {% verbatim %}
        <div id="content" class="charts-page fixed-height layout horizontal"
            ng-app="chartsApp" ui-view></div>
    {% endverbatim %}
{% endblock %}
