<div class="charts-sidebar padding-10 layout vertical">
    <div class="sidebar-section">
        <label class="bold dim extra uppercase">Filters</label>
        
        <exchange-filter class="filter dropdown"></exchange-filter>
        <tag-filter class="filter dropdown"></tag-filter>
        <search-filter class="filter search layout horizontal"></search-filter>
    </div>
    <div class="sidebar-section flex layout vertical">
        <label class="bold">
            <span class="dim extra uppercase">Tickers</span>
            <loading-animation ng-if="stocks.loading"
                style="margin: 0 0 0 5px;display:inline;"></loading-animation>
            <span ng-if="!stocks.loading" style="padding-left:5px;">({{stocks.count}})</span>
            
            <ordering-filter class="filter dropdown ordering"></ordering-filter>
        </label>
        <div id="sidebar-tickers" class="tickers flex">
            <a ng-repeat="stock in stocks.results" ui-sref="main.stock({'ticker':stock.ticker})">
                <sidebar-ticker stock="stock" class="layout horizontal"
                    ng-class="{'current':stock.ticker==state.params.ticker}"></sidebar-ticker>
            </a>
                
            <div id="end-of-tickers" in-view="loadMoreStocks()" ng-if="stocks.next && !stocks.loadingMore"></div>
            <loading-animation ng-if="stocks.loadingMore"></loading-animation>
        </div>
    </div>
</div>
<div class="charts-content padding-10 flex" ui-view></div>