<div class="charts-sidebar padding-10 layout vertical">
    <div class="sidebar-section">
        <label class="bold dim extra uppercase">Filters</label>
        
        <exchange-filter class="filter dropdown"></exchange-filter>
        <tag-filter class="filter dropdown"></tag-filter>
    </div>
    <div class="sidebar-section flex layout vertical">
        <label class="bold dim extra uppercase">Tickers</label>
        
        <div class="filter search layout horizontal">
            <input class="flex" ng-model="searchText" placeholder="Search"></input>
            <i class="fa fa-search"></i>
        </div>
        
        <div class="tickers flex">
            <sidebar-ticker stock="stock" ng-repeat="stock in stocks.results | filter:searchText"
                class="layout horizontal"></sidebar-ticker>
                
            <div id="end-of-tickers" in-view="loadMoreStocks()" ng-if="stocks.next && !stocks.loading"></div>
            <loading-animation ng-if="stocks.loading"></loading-animation>
        </div>
    </div>
</div>
<div class="charts-content padding-10 flex" ui-view></div>