/* line 27, frontend/static/base/css/variables.scss */
.white-background {
  background-color: #ffffff !important; }

/* line 28, frontend/static/base/css/variables.scss */
.clouds-background {
  background-color: #ecf0f1 !important; }

/* line 29, frontend/static/base/css/variables.scss */
.charcoal-background {
  color: #ffffff !important;
  background-color: #333333 !important; }

/* line 30, frontend/static/base/css/variables.scss */
.shadow-background {
  color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.1) !important; }

/* line 31, frontend/static/base/css/variables.scss */
.white-shadow-background {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.1) !important; }

/* line 32, frontend/static/base/css/variables.scss */
.emerald-background {
  color: #ffffff !important;
  background-color: #2ecc71 !important; }

/* line 33, frontend/static/base/css/variables.scss */
.peter-river-background {
  color: #ffffff !important;
  background-color: #3498db !important; }

/* line 34, frontend/static/base/css/variables.scss */
.alizarin-background {
  color: #ffffff !important;
  background-color: #e74c3c !important; }

/* line 35, frontend/static/base/css/variables.scss */
.gold-background {
  color: #ffffff !important;
  background-color: #f1c40f !important; }

/* line 36, frontend/static/base/css/variables.scss */
.white-dim-background {
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.25) !important; }

/* line 37, frontend/static/base/css/variables.scss */
.bg1-background {
  color: #ffffff !important;
  background-color: #123051 !important; }

/* line 38, frontend/static/base/css/variables.scss */
.bg2-background {
  color: #ffffff !important;
  background-color: #267871 !important; }

/* line 41, frontend/static/base/css/variables.scss */
.white {
  color: #ffffff !important; }

/* line 42, frontend/static/base/css/variables.scss */
.clouds {
  color: #ecf0f1 !important; }

/* line 43, frontend/static/base/css/variables.scss */
.charcoal {
  color: #333333 !important; }

/* line 44, frontend/static/base/css/variables.scss */
.shadow {
  color: rgba(0, 0, 0, 0.1) !important; }

/* line 45, frontend/static/base/css/variables.scss */
.white-shadow {
  color: rgba(255, 255, 255, 0.1) !important; }

/* line 46, frontend/static/base/css/variables.scss */
.emerald {
  color: #2ecc71 !important; }

/* line 47, frontend/static/base/css/variables.scss */
.peter-river {
  color: #3498db !important; }

/* line 48, frontend/static/base/css/variables.scss */
.alizarin {
  color: #e74c3c !important; }

/* line 49, frontend/static/base/css/variables.scss */
.gold {
  color: #f1c40f !important; }

/* line 50, frontend/static/base/css/variables.scss */
.white-dim {
  color: rgba(255, 255, 255, 0.25) !important; }

/* line 51, frontend/static/base/css/variables.scss */
.bg1 {
  color: #123051 !important; }

/* line 52, frontend/static/base/css/variables.scss */
.bg2 {
  color: #267871 !important; }

/* line 2, frontend/static/charts/css/base.scss */
.charts-page .charts-sidebar {
  width: 350px;
  overflow: hidden;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0; }
  /* line 8, frontend/static/charts/css/base.scss */
  .charts-page .charts-sidebar .sidebar-section {
    margin-bottom: 20px; }
    /* line 11, frontend/static/charts/css/base.scss */
    .charts-page .charts-sidebar .sidebar-section:last-child {
      margin-bottom: 0; }
    /* line 15, frontend/static/charts/css/base.scss */
    .charts-page .charts-sidebar .sidebar-section .filter {
      display: block;
      margin-top: 10px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      min-height: 36px;
      position: relative; }
      /* line 23, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.flex {
        margin-left: 5px;
        margin-right: 5px; }
        /* line 27, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.flex:last-child {
          margin-right: 0; }
        /* line 30, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.flex:first-child {
          margin-left: 0; }
      /* line 35, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.dropdown {
        padding: 10px; }
        /* line 38, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.dropdown .dropdown-label {
          font-weight: bold; }
          /* line 40, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown .dropdown-label i {
            float: right; }
          /* line 44, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown .dropdown-label .notification {
            font-size: 10px;
            padding: 1px 6px;
            border-radius: 8px;
            float: right; }
        /* line 52, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options {
          position: absolute;
          top: 100%;
          width: calc(200% + 12px);
          display: none;
          max-height: 200px;
          overflow: auto;
          z-index: 100;
          padding: 10px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px; }
          /* line 67, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options.right-aligned {
            right: -1px; }
          /* line 70, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options.left-aligned {
            left: -1px; }
          /* line 74, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options .option {
            margin-bottom: 5px; }
            /* line 76, frontend/static/charts/css/base.scss */
            .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options .option label {
              cursor: pointer; }
            /* line 80, frontend/static/charts/css/base.scss */
            .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options .option:last-child {
              margin-bottom: 0; }
            /* line 83, frontend/static/charts/css/base.scss */
            .charts-page .charts-sidebar .sidebar-section .filter.dropdown .options .option input {
              cursor: pointer;
              margin-right: 5px; }
        /* line 90, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.dropdown:hover {
          background: #ffffff;
          color: #333333; }
          /* line 93, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.dropdown:hover .options {
            display: block; }
      /* line 99, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.search input {
        padding: 10px;
        background: transparent;
        border: none;
        color: #ffffff;
        width: 100%; }
        /* line 106, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.search input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        /* line 109, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.search input::-moz-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        /* line 112, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.search input:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5); }
        /* line 115, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.search input:-moz-placeholder {
          color: rgba(255, 255, 255, 0.5); }
      /* line 119, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.search i {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px; }
      /* line 127, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.ordering {
        display: inline-block;
        padding: 0;
        border: none;
        min-height: 0;
        margin: 0;
        float: right;
        width: 120px; }
        /* line 136, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.ordering:hover {
          background: transparent;
          color: #ffffff; }
        /* line 141, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.ordering .dropdown-label {
          text-align: right; }
          /* line 143, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .filter.ordering .dropdown-label i {
            margin-left: 5px; }
      /* line 149, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .filter.boolean {
        cursor: pointer;
        line-height: 36px;
        text-align: center;
        font-size: 16px; }
        /* line 155, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .filter.boolean:hover {
          background: rgba(0, 0, 0, 0.1); }
    /* line 161, frontend/static/charts/css/base.scss */
    .charts-page .charts-sidebar .sidebar-section .tickers {
      margin-top: 10px;
      overflow: auto; }
      /* line 165, frontend/static/charts/css/base.scss */
      .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker {
        padding: 5px 0;
        border-radius: 3px;
        min-height: 64px;
        cursor: pointer;
        border-right: 3px solid transparent;
        transition: border-right-color 0.5s ease-in-out; }
        /* line 173, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker:hover, .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker.current {
          background-color: rgba(0, 0, 0, 0.1); }
        /* line 177, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker.increasing {
          border-right-color: #2ecc71; }
        /* line 180, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker.decreasing {
          border-right-color: #e74c3c; }
        /* line 184, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .icon-container {
          padding: 10px; }
          /* line 187, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .icon-container i {
            font-size: 16px; }
        /* line 191, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .name-container {
          padding: 10px 0; }
          /* line 194, frontend/static/charts/css/base.scss */
          .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .name-container .tick-icon {
            opacity: 0;
            margin-left: 5px;
            transition: all 0.5s ease-in-out; }
            /* line 198, frontend/static/charts/css/base.scss */
            .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .name-container .tick-icon.visible {
              opacity: 1; }
        /* line 203, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .price-container {
          padding: 10px;
          min-width: 75px; }
        /* line 207, frontend/static/charts/css/base.scss */
        .charts-page .charts-sidebar .sidebar-section .tickers sidebar-ticker .change-container {
          padding: 10px;
          min-width: 75px; }

/* line 217, frontend/static/charts/css/base.scss */
.charts-page .charts-content {
  overflow: auto; }
  /* line 220, frontend/static/charts/css/base.scss */
  .charts-page .charts-content .stock-header {
    min-height: 81px;
    margin-top: 5px; }
  /* line 224, frontend/static/charts/css/base.scss */
  .charts-page .charts-content .chart-container {
    width: 100%;
    border-radius: 3px; }
    /* line 228, frontend/static/charts/css/base.scss */
    .charts-page .charts-content .chart-container canvas {
      max-width: 100%; }
  /* line 234, frontend/static/charts/css/base.scss */
  .charts-page .charts-content #stock-nav {
    margin-top: 20px; }
