Django>=1.8,<2.0
celery
django_compressor
django-filter
django-libsass
djangorestframework
# googlefinance # backend
gunicorn
# iexfinance # backend
jsonfield
psycopg2
# realtime-stock # backend
redis
requests