<div class="dropdown-label">
    <span class="dim">{{currentOption.name}}</span>
    <i class="fa dim hoverable" ng-class="{'fa-long-arrow-down':orderingDown, 'fa-long-arrow-up':!orderingDown}"
        ng-click="setOrderingDirection(!orderingDown)"
        style="cursor:pointer;padding-left:3px;"></i>
</div>
<div class="options white-background charcoal">
    <div class="option" ng-repeat="option in orderingOptions">
        <label ng-click="setOrder(option)">
            <i class="fa fa-circle" ng-class="{'peter-river':option.key==currentOption.key, 'white':option.key!==currentOption.key}"
            style="margin:1px;"></i>
            {{option.name}}
        </label>
    </div>
</div>