html{

}

body{    
    background:$clouds;
    color: $charcoal;
}

#header{
    background:$white;
    height:60px;
    box-shadow:0 1px 2px $shadow;
}

#footer{
    background:$clouds;
    height:32px;
    box-shadow:0 -1px 2px $shadow;
}

#content{
    color: $white;
    background-color: $bg1;
    
    background: -webkit-gradient(linear, left top, right top, from($bg1), to($bg2));
    background: -webkit-linear-gradient(left, $bg1, $bg2);
    background: -o-linear-gradient(left, $bg1 0, $bg2 250%);
    background: linear-gradient(135deg, $bg1 0, $bg2 250%);
    
    &.fixed-height{
        height: calc(100% - 92px);
        overflow:scroll;
    }
}



// UTIL CLASSES
// /////////////////////////////////////

button{
    padding:10px 30px;
    border: none;
    border-radius: 2px;
    font-weight: 800;
    text-align:center;
    cursor:pointer;
    
    &.fattie{
        padding:15px 40px;
    }
    &.full-width{
        width:100%;
    }
}

.nav-items{
    min-height:36px;
    
    .nav-item{
        padding:10px 0;
        margin:0 20px;
        border-bottom:2px solid transparent;
        cursor:pointer;
        
        .span{
            vertical-align: middle;
        }
        
        &.current, &:hover{
            border-bottom:2px solid $peter-river !important;
        }
    }
}

.page-wrap{
    padding:10px;
    width:100%;
}

.content-wrap{
    margin:10px auto;
    max-width:1080px;
}

.contain-image, .cover-image{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}
.contain-image{
    background-size: contain;
}

.cover-image{
    background-size: cover;
}
.circular{
    border-radius:100%;
}

// i{
//     &.with-margin{
//         margin-left:5px;
//         margin-right:5px;
//     }
// }
// span{
//     &.notification{
//         margin-left:5px;
//         font-weight:bold;
//         font-size:0.8em;
//         border-radius:2px;
//         padding:2px 4px;
//     }
// }

.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.underlined {
    text-decoration: underline;
}
.clickable{
    cursor:pointer;
}
.linkable{
    cursor:pointer;
    &:hover{
        text-decoration: underline;
    }
}
.dim{
    opacity:0.7;
    
    &.extra{
        opacity:0.4;
    }
    
    &.light{
        opacity:0.9;
    }
    
    &.hoverable{
        &:hover{
            opacity:1;
        }
    }
}
.full-opacity{
    opacity:1 !important;
}

.left-align{
    text-align: start;
}
.center-align{
    text-align: center;
}
.right-align{
    text-align: end;
}
.bold{
    font-weight:bold;
}
.italic {
    font-style: italic;
}
.bigger{
    font-size:1.2em;
}
.extra-big{
    font-size:1.5em;
}
.smaller{
    font-size:0.8em;
}
.extra-small{
    font-size:0.6em;
}
.disabled{
    opacity:0.5;
    pointer-events:none;
}
.hide-large{
    @media(max-width:$break-large){
        display:none !important;
    }
}
.hide-medium{
    @media(max-width:$break-medium){
        display:none !important;
    }
}
.hide-small{
    @media(max-width:$break-small){
        display:none !important;
    }
}
.remove-padding-small{
    @media(max-width:$break-small){
        padding-left: 0 !important;
    }
}
.remove-margin-small{
    @media(max-width:$break-small){
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.show-large{
    display:none;
    @media(max-width:$break-large){
        display:block !important;
    }
}
.show-medium{
    display:none;
    @media(max-width:$break-medium){
        display:block !important;
    }
}
.show-small{
    display:none;
    @media(max-width:$break-small){
        display:block !important;
    }
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}
