html{
    background: $midnight;
    background-image: linear-gradient( 135deg, $midnight -50%, $aqua 350%);
    color: $white;
}

body{
    
}

#header{
    background:$white;
    color: $charcoal;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    box-shadow:0 1px 2px $shadow;
}

#page-content{
    padding-top:70px;
    width:100%;
}

#footer{
    color:$white;
    background:$charcoal;

    .columns{
        padding:10px 0;
        
        .column{
            -webkit-flex: 0 0 225px;
            flex: 0 0 225px;
            
            .links{
                line-height:1.5em;
            }
            
            &:last-child{
                margin-left:auto;
            }
            
            &.social-links{
                min-width:60px;
                @media(max-width:$break-large){
                    text-align:left;
                    flex:1;
                    margin-left:0;
                }
            }
        }
    }
}

button{
    padding:10px 30px;
    border: none;
    border-radius: 2px;
    font-weight: 800;
    text-align:center;
    cursor:pointer;
    
    &.fattie{
        padding:15px 40px;
    }
    &.full-width{
        width:100%;
    }
}



// UTIL CLASSES
// /////////////////////////////////////

.nav-items{
    min-height:36px;
    
    .nav-item{
        padding:10px 0;
        margin:0 20px;
        border-bottom:2px solid transparent;
        cursor:pointer;
        
        .span{
            vertical-align: middle;
        }
        
        &.current, &:hover{
            border-bottom:2px solid $peter-river !important;
        }
    }
}

.page-wrap, .content-wrap{
    margin:0 auto;
    padding:10px 20px;
    width:100%;
    
    &.main-content{
        padding: 40px 20px;
        min-height:400px;
        
        .main-content-sidebar{
            min-width:200px;
        }
    }
}

.page-wrap{
    max-width:1080px;
}

.content-wrap{
    max-width:900px;
}

.contain-image, .cover-image{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}
.contain-image{
    background-size: contain;
}

.cover-image{
    background-size: cover;
}
.circular{
    border-radius:100%;
}

i{
    &.with-margin{
        margin-left:5px;
        margin-right:5px;
    }
}
span{
    &.notification{
        margin-left:5px;
        font-weight:bold;
        font-size:0.8em;
        border-radius:2px;
        padding:2px 4px;
    }
}

.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.underlined {
    text-decoration: underline;
}
.clickable{
    cursor:pointer;
}
.linkable{
    cursor:pointer;
    &:hover{
        text-decoration: underline;
    }
}
.dim{
    opacity:0.7;
    
    &.extra{
        opacity:0.4;
    }
    
    &.light{
        opacity:0.9;
    }
    
    &.hoverable{
        &:hover{
            opacity:1;
        }
    }
}
.full-opacity{
    opacity:1 !important;
}

.left-align{
    text-align: start;
}
.center-align{
    text-align: center;
}
.right-align{
    text-align: end;
}
.bold{
    font-weight:bold;
}
.italic {
    font-style: italic;
}
.bigger{
    font-size:1.2em;
}
.extra-big{
    font-size:1.5em;
}
.smaller{
    font-size:0.8em;
}
.extra-small{
    font-size:0.6em;
}
.disabled{
    opacity:0.5;
    pointer-events:none;
}
.hide-large{
    @media(max-width:$break-large){
        display:none !important;
    }
}
.hide-medium{
    @media(max-width:$break-medium){
        display:none !important;
    }
}
.hide-small{
    @media(max-width:$break-small){
        display:none !important;
    }
}
.remove-padding-small{
    @media(max-width:$break-small){
        padding-left: 0 !important;
    }
}
.remove-margin-small{
    @media(max-width:$break-small){
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.show-large{
    display:none;
    @media(max-width:$break-large){
        display:block !important;
    }
}
.show-medium{
    display:none;
    @media(max-width:$break-medium){
        display:block !important;
    }
}
.show-small{
    display:none;
    @media(max-width:$break-small){
        display:block !important;
    }
}

.margin-5 {
    margin: 5px;
}

.pad-bottom {
    padding-bottom: 15px;
}

