
// background colors
.white-background{color:$charcoal !important; background-color:$white !important;}
.desert-storm-background{color:$charcoal !important; background-color:$desert-storm !important;}
.mine-shaft-background{color:$white !important; background-color:$mine-shaft !important;}
.boulder-background{color:$white !important; background-color:$boulder !important;}
.charcoal-background{color:$white !important; background-color:$charcoal !important;}
.dust-background{color:$dust !important; background-color:$dust !important;}
.navy-blue-background{color:$white !important; background-color:$navy-blue !important;}
.denim-background{color:$white !important; background-color:$denim !important;}
.vladivostok-blue-background{color:$white !important; background-color:$vladivostok-blue !important;}
.marine-background{color:$white !important; background-color:$marine !important;}
.blue-chill-background{color:$white !important; background-color:$blue-chill !important;}
.jade-background{color:$white !important; background-color:$jade !important;}
.watermelon-background{color:$white !important; background-color:$watermelon !important;}
.alizarin-background{color:$white !important; background-color:$alizarin !important;}
.sunflower-background{color:$white !important; background-color:$sunflower !important;}
.shadow-background{color:$white !important; background-color:$shadow !important;}
.light-shadow-background{color:$white !important; background-color:$light-shadow !important;}
.dark-blue-background{color:$white !important; background-color: $dark-blue !important;}
.royal-blue-background{color:$white !important; background-color: $royal-blue !important;}
.linkedin-blue-background{color:$white !important; background-color: $linkedin-blue !important;}
.facebook-blue-background{color:$white !important; background-color: $facebook-blue !important;}

// text colors
.white{color:$white !important;}
.mine-shaft{color:$mine-shaft !important;}
.desert-storm{color:$desert-storm !important;}
.boulder{color:$boulder !important;}
.charcoal{color:$charcoal !important;}
.dust{color:$dust !important;}
.navy-blue{color:$navy-blue !important;}
.vladivostok-blue{color:$vladivostok-blue !important;}
.denim{color:$denim !important;}
.marine{color:$marine !important;}
.blue-chill{color:$blue-chill !important;}
.jade{color:$jade !important;}
.watermelon{color:$watermelon !important;}
.alizarin{color:$alizarin !important;}
.sunflower{color:$sunflower !important;}
.shadow{color:$shadow !important;}
.light-shadow{color:$light-shadow !important;}
.dark-blue{color:$dark-blue !important;}
.royal-blue{color: $royal-blue !important;}
.linkedin-blue{color: $linkedin-blue !important;}
.facebook-blue{color: $facebook-blue !important;}


