// background colors
.white-background{color:$charcoal !important; background-color:$white !important;}
.charcoal-background{color:$charcoal !important; background-color:$charcoal !important;}
.shadow-background{color:$shadow !important; background-color:$shadow !important;}
.white-shadow-background{color:$white-shadow !important; background-color:$white-shadow !important;}
.aqua-background{color:$aqua !important; background-color:$aqua !important;}
.midnight-background{color:$midnight !important; background-color:$midnight !important;}
.emerald-background{color:$emerald !important; background-color:$emerald !important;}
.peter-river-background{color:$peter-river !important; background-color:$peter-river !important;}
.alizarin-background{color:$alizarin !important; background-color:$alizarin !important;}

// text colors
.white{color:$white !important;}
.charcoal{color:$charcoal !important;}
.shadow{color:$shadow !important;}
.white-shadow{color:$white-shadow !important;}
.aqua{color:$aqua !important;}
.midnight{color:$midnight !important;}
.emerald{color:$emerald !important;}
.peter-river{color:$peter-river !important;}
.alizarin{color:$alizarin !important;}


