// text/shadow variables
$white: #ffffff;
$charcoal: #333333;
$shadow: rgba(0,0,0,0.1);
$white-shadow: rgba(255,255,255,0.1);

// background variables
$aqua: #92FFC0;
$midnight: #002661;

// accent variables
$emerald: #2ecc71;
$peter-river: #3498db;
$alizarin: #e74c3c;

// media break points
$break-large: 900px;
$break-medium: 700px;
$break-small: 500px;
