<div class="dropdown-label">
    Exchanges
    <span class="notification peter-river-background" ng-if="(options | filter : {current:true}).length">
        {{(options | filter : {current:true}).length}}
    </span>
    <i class="fa fa-angle-down"></i>
</div>
<div class="options white-background charcoal">
    <div class="option" ng-repeat="exchange in options">
        <label>
            <input type="checkbox" ng-model="exchange.current" ng-change="optionToggled()">
            {{exchange.symbol}}
            <span class="dim" ng-if="exchange.currency">
                ({{exchange.currency.character}}{{exchange.currency.symbol}})
            </span>
        </label>
    </div>
    <loading-animation ng-if="loading"></loading-animation>
</div>